
<footer class="footer">
    {% block footer %}
        <div class="grid">
            <div class="column" style="--columns: 2">
                    <img src="{{ url('assets') }}/icons/ACAN_Logo_Badge_White_4x.png">
            </div>
            <div class="column" style="--columns: 6">
                <p style="color: var(--color-white)">
                    <b>ACAN</b> er et internasjonal nettverk av fagpersoner innen arkitektur og andre byggrelaterte
                    faggrupper som ønsker å ta grep for å håndtere de sammenflettede klima- og miljøkrisene.
                </p>
            </div>
            <div class="column" style="--columns: 2">
                <a href="https://www.instagram.com/acannorge">
                    <img src="{{ url('assets') }}/icons/Instagram_Logo_White_100px.png">
                </a>
            </div>
            <div class="column" style="--columns: 2">
                <a href="https://www.facebook.com/acannorge/">
                        <img src="{{ url('assets') }}/icons/Facebook__Logo_White_100px.png">
                </a>
            </div>
        </div>
    {% endblock %}
</footer>