<header class="header">
    {% block header %}

        <a class="logo" href="{{ site.url() }}">
            <img src="assets/icons/acan-logo-lockup-white-at-4x.png">
        </a>

        <nav class="menu">
            {% for item in site.children().listed() %}
                <a {{ item.isOpen() ? 'aria-current ' : '' }} href="{{ item.url() }}">{{ item.title.esc() }}</a>
            {% endfor %}
        </nav>

    {% endblock %}
</header>