{% extends 'default.twig' %}

{% block content %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            text-align: center !important;
        }
    </style>
{#    {{ include('@snippets/intro.twig') }}#}
{#    {{ include('@snippets/splitline.twig') }}#}

    <article>
        <div class="text">
            {{ page.text.kt | raw }}
        </div>
    </article>

{#    {{ include('@snippets/splitline.twig') }}#}

{% endblock %}