{% set darkmode = false %}

{% extends 'default.twig' %}

{% block blocks %}
{% endblock blocks %}

{% block content %}
    <article>
        <div class="text">
            {{ page.text.kt | raw }}
        </div>
    </article>
{% endblock %}